.wrapper {
    position: relative;
    width: 375px;
    margin: auto;
    h2 {
        text-align: center;
        font-size: 3.2rem;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
    }
}
.icon-back {
    position: absolute;
    top: -3rem;
    left: -3rem;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    svg {
        font-size: 2.2rem;
    }
}
.login-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    a {
        font-size: 1.2rem;
        font-weight: 500;
    }
}
.form {
    display: flex;
    flex-direction: column;
    input {
        border-radius: 2px;
        background-color: rgba(22, 24, 35, 0.06);
        border: 1px solid rgba(22, 24, 35, 0.12);
        padding-inline-start: 12px;
        color: rgb(22, 24, 35);
        line-height: 100%;
        outline: none;
        font-size: 16px;
        height: 44px;
        caret-color: rgb(254, 44, 85);
        width: 100%;
        padding-inline-end: unset;
        margin-bottom: 9px;
    }
    a {
        font-size: 1.2rem;
        &:hover {
            text-decoration: underline;
        }
    }
    button {
        margin-top: 2.1rem;
        font-size: 1.6rem;
        height: 4.6rem;
    }
}
