.menu-list {
    width: 223px;
    .menu-item {
        margin-left: 0;
    }
}
.menu-item {
    width: 100%;
    text-align: left;
    margin: 0.65rem;
    border-radius: 0;
    padding: 10px 16px;
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}
