.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;

    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
    height: var(--default-layout-header-height);
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.wider {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
    height: var(--default-layout-header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    .inner {
        width: 100%;
    }
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}
.logo {
    display: flex;
}
.actions {
    display: flex;
    align-items: center;
}
.actions-btn {
    background-color: transparent;
    font-size: 2.2rem;
    margin-left: 1.6rem;
    cursor: pointer;
}
.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 2.4rem;
    object-fit: contain;
}

.more-btn {
    font-size: 2rem;
    background-color: transparent;
    margin-left: 2rem;
    padding: 8px;
    cursor: pointer;
}
